@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --font-family: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-primary: #0b4a99;
  --text-color: #111111;
  --bg-gray: #fffaee;
  --color-heading:#271a38;
  --color-white: white;
  --color-black: black;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family)!important;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
  font-family: var(--font-roboto) !important;
}
a:hover{
  color: #0b4a99 !important;
}


body,html {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  color: var(--text-color);
  background-color: var(--bg-gray);
  overflow-x: hidden;
}
h1, h2, h3, h4, h5{
  text-transform: capitalize;
  font-weight: bold;
  color: var(--color-heading);
  word-break: break-word;
}
@media (max-width: 575px){
  h1{
    font-size: 2rem!important;
  }
  h2{
    font-size: 1.9rem!important;
  }
  h3{
    font-size: 1.7rem!important;
  }
  h4{
    font-size: 1rem !important;
  }
  h5{
    font-size: .9rem !important;
  }
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;

}
h2 {
  font-size: clamp(1.1rem, 2.5vw, 2rem);
  line-height: 1.1;
}
h3 {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  line-height: 1.2;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.3;
}
h5 {
  font-size: 1rem;
  line-height: 1.5;
}
h6 {
  font-size: 0.875rem;
  line-height: 1.5;
}
p{
  font-family: var(--font-roboto)!important;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: var(--font-roboto)!important;
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover, .menu-links:hover a {
  border-color: var(--color-primary);
  color: var(--color-white) !important;
  background-color: var(--color-primary);
}
button:focus,
button:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--color-primary);
    background-color: var(--color-white);
  }
  button {
    background-color: #f9f9f9;
  }
}

.menu-links{
  outline: none!important;
}
.menu-links a{
  color: var(--color-heading);
  padding: 10px 14px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}
.menu-links a:hover{
  color: var(--color-primary) !important;
  background-color: transparent;
  border-radius: 4px;
  
}
a.active{
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 4px;
  padding: 10px 14px;
}
